@use "assets/styles/settings/global";
@use "assets/styles/settings/color";
@use "assets/styles/mixins";

.text-area {
    display: block;
    width: 100%;

    &.error {
        .text-area__control {
            border-color: color.$error;
        }
    }
}

.text-area__label {
    margin-bottom: 1em;
    display: block;
    width: 100%;
}

.text-area__control {
    background: rgba(#fff, 0.75);
    border: 1px solid rgba(color.$text, 0.5);
    display: block;
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    resize: none;
    line-height: 1.5;
    height: calc(1em * 1.5 * 5);
    padding: global.$unit * 2;
    outline: none;
    transition: border-color 0.2s ease, background-color 0.2s ease;

    &:focus {
        background-color: #fff;
        border-color: color.$text;
    }
}

.text-area__error {
    display: block;
    width: 100%;
    margin-top: 0.5em;
}
